<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804947208601-6na011lho5hb46gd8kc5uec45tlkr1a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804947208601-6na011lho5hb46gd8kc5uec45tlkr1a7</string>
	<key>API_KEY</key>
	<string>AIzaSyAClg6HW3YSpIIDMdxkKcajFw0UsTlq7sg</string>
	<key>GCM_SENDER_ID</key>
	<string>804947208601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.louis.CustomLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-90ebf</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-90ebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804947208601:ios:1818b9a25dcf1ecec10b08</string>
</dict>
</plist>